[submodule "scripts/godot_custom_preset_exporter"]
	path = scripts/godot_custom_preset_exporter
	url = https://github.com/JohnnyHowe/godot_custom_preset_exporter
[submodule "scripts/godot_template_creator"]
	path = scripts/godot_template_creator
	url = https://github.com/JohnnyHowe/godot_template_creator
